<h1>Mechanics#show</h1>
<p>Find me in app/views/mechanics/show.html.erb</p>


<div class="jobs_list">
	<div class="mechanic_jobs_head">
		<h1>Schedualed Jobs</h1>
	</div>
	<div class="mechanic_jobs_list">
		

	</div>
	
</div>

<div class="mechanics_info">
	<h3><%= current_mechanic.first_name %>
	<%= current_mechanic.last_name %></h3><br>
	<h4><%= current_mechanic.email %></h4>
</div>
<div class="hidden edit_mechanic_profile">
	<%= render 'mechanics/registrations/edit' %>
</div>
<div class="hidden add_job">
	nothing
</div>