


<div class="vehicles_list">
	<div class="vehicles_head"><h1>Vehicles</h1></div>
</div>

<div class="users_info">
	<h3><%= current_user.first_name %>
	<%= current_user.last_name %></h3><br>
	<h4><%= current_user.email %></h4>
	
</div>
<div class="hidden edit_profile">
	<%= render 'users/registrations/edit' %>
</div>
<div class="hidden add_vehicle">
	this
</div>